.jumbotron{
    margin: 40px;
    background-color: #ebecf0;
    padding: 50px 20px 50px 20px;
}

#Cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 220px 100px 0px; 
  }

  .line{
    width: 100% !important; /* Hace que la línea ocupe todo el ancho del contenedor */
    border: none; /* Quita el borde predeterminado, lo que permite un control más preciso del aspecto */
    height: 1px;
    background-color: black;
  }

  .card {
    background-color: white;
    width: 310px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    overflow: hidden;
  }

  /* Adaptamos el tamaño para mobile-tablet */
  
  @media (max-width: 1000px) { 
    #Cards {
      flex-direction: column;
      padding: 0px;  
    }
    .card {
      width: 100%;
    }
  }

    